.center-fixed {
	position: relative;
}

	.center-fixed__element {
		position: absolute;
	}

		.center-fixed__element--horizontal {
			left: 50%;
			transform: translateX(-50%);
		}

		.center-fixed__element--vertical {
			top: 50%;
			transform: translateY(-50%);
		}

		.center-fixed__element--both {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}