.fold {
  position: relative;
  width: 100%;
  height: 100vh; }

.fold__section {
  float: left;
  width: 100%;
  height: 50vh;
  background-color: #42FFCF; }

.fold__content {
  width: 100%;
  max-width: 420px;
  padding: 0 20px; }
  #intro .fold__content {
    width: 240px; }

.fold__text {
  text-align: center;
  margin: 10px 0; }

.btn {
  display: block;
  width: 100%;
  margin: 10px auto; }

@media (min-width: 768px) {
  #intro .fold__content {
    width: 400px; } }

@media (min-width: 992px) {
  .fold__section {
    float: left;
    width: 50%;
    height: 100vh;
    background-color: #42FFCF; } }
